*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
   --Primary-blue: hsl(180, 66%, 49%); 
   --primary-purple: hsl(257, 27%, 26%);
   --bg-color: #f2f2f2;
   --error-color: #ff0000;
   --neutral-white:hsl(0, 0%, 100%);
   --Neutral-grey400: hsl(0, 0%, 75%);
   --Neutral-grey500:hsl(257, 7%, 63%);
    --Neutral-grey900: hsl(255, 11%, 22%);
    --Neutral-grey960: hsl(260, 8%, 14%);
    --main-font: 'poppins', sans-serif;
    --body-font-size: 18px;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    overflow-x: hidden;
}
.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--Neutral-grey500);
    font-weight: 600;
    font-family: var(--main-font);
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.login-btn {
    background: transparent;
    border: none;
    font-weight: 600;
    color: var(--Neutral-grey500);
    font-family: var(--main-font);
    cursor: pointer;
}

.sign-up-btn {
    background-color: var(--Primary-blue);
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--main-font);
}
.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.hero-section {
    background-color: var(--neutral-white);
    padding-bottom: 4rem;
    overflow: hidden;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}


.hero-title {
    font-family: var(--main-font);
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 700;
    color: var(--Neutral-grey900);
    margin-bottom: 1.5rem;
}

.hero-sub-heading {
    font-family: var(--main-font);
    color: var(--Neutral-grey500);
    font-size: 1.15rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-btn {
    background-color: var(--Primary-blue);
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-weight: 700;
    padding: 14px 32px;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    &:hover {
    background-color: var(--Primary-blue);
    color: var(--neutral-white);
    }
}

.hero-img {
    max-width: 520px;
    width: 100%;
    height: auto;
}
.mobile-menu-panel {
    display: none;
}

.shorten-section {
    margin: -80px auto 160px auto;
    max-width: 900px;
    padding: 0 9px;
}

.shorten-card {
    background: url('images/bg-shorten-desktop.svg') no-repeat center/cover;
    background-color: var(--Neutral-grey900);
    border-radius: 10px;
    padding: 3rem 2.5rem;
}

.shorten-input {
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    font-family: var(--main-font);
}

.shorten-btn {
    background-color: var(--Primary-blue);
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 16px 30px;
    border: none;
    border-radius: 10px;
}

.shorten-btn:hover{
    background-color: var(--Primary-blue);
    color: var(--neutral-white);
}

.error-message {
    position: absolute;
    bottom: -28px;
    left: 0;
    color: var(--error-color);
    font-family: var(--main-font);
    font-style: italic;
    font-size: 0.95rem;
    margin: 0;
}

.result-card {
    background-color: var(--neutral-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 8px;
    margin-bottom: 6rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom:  -220px;
}

.url-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
    overflow-wrap: break-word;
    width: 100%;
}

.original-url {
    color: var(--primary-purple);
    font-family: var(--main-font);
    font-weight: bold;
}

.short-url {
    color: var(--Primary-blue);
    font-family: var(--main-font);
    margin-left: 20px;
    font-weight: 600;
}

.copy-btn {
    background-color: var(--Primary-blue);
    color: var(--neutral-white);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 0.9rem;
    margin: 0 10px;
}

 .stats-heading {
     font-family: var(--main-font);
     font-weight: 700;
     color: var(--Neutral-grey960);
     font-size: 2.2rem;
 }

 .stats-subtitle {
     font-family: var(--main-font);
     color: var(--Neutral-grey500);
     font-size: 1.1rem;
     line-height: 1.6;
 }

 .stat-card {
     background-color: var(--neutral-white);
     border-radius: 10px;
     padding: 2.5rem 1.8rem 1.8rem;
     position: relative;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
 }

 .stat-card-middle {
     margin-top: 2rem;
 }

 .stat-card-last {
    margin-top: 4rem;
 }

 .stat-icon {
     width: 70px;
     height: 70px;
     background-color: var(--Neutral-grey960);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: -35px;
     left: 30px;
 }

 .stat-icon img {
     width: 38px;
     height: 38px;
 }

 .stat-card-title {
     font-family: var(--main-font);
     font-weight: 700;
     margin-top: 2rem;
     font-size: 1.25rem;
     color: var(--Neutral-grey960);
 }

 .stat-card-text {
     font-family: var(--main-font);
     color: var(--Neutral-grey500);
     line-height: 1.7;
 }

 .stats-connector {
     position: absolute;
     top: 48%;
     left: 8%;
     right: 8%;
     height: 6px;
     background-color: var(--Primary-blue);
     z-index: -1;
 }

.boost-section {
    background: url('images/bg-boost-desktop.svg') no-repeat center/cover;
    background-color: var(--primary-purple);
    padding: 2rem 0;
    margin-top: 4rem;
}

.boost-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--neutral-white);
    text-align: center;
}

.boost-btn {
    background-color: var(--Primary-blue);
    font-weight: 600;
    margin: 1rem  auto;
    cursor: pointer;
    border: none;
    &:hover {
    background-color: var(--Primary-blue);
}

}
.home-footer {
    background-color: var(--Neutral-grey960);
}

.footer-logo {
    filter: brightness(0) invert(1);
    max-width: 120px;
}

.footer-link-title {
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.footer-links a {
    color: var(--Neutral-grey500);
    text-decoration: none;
    font-family: var(--main-font);
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--neutral-white);
}

.social-icons a {
    margin: 0 0.8rem;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

@media (max-width: 395px) {
    .main-container {
    max-width: 395px;
    margin: 0 auto;
    }


.main-navbar {
     width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
     z-index: 1000;
} 
    
      
.desktop-nav {
    display: none;
}
    
.nav-container {
     max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
}
    
.nav-links a {
    text-decoration: none;
    color: var(--Neutral-grey500);
    font-weight: 600;
    font-family: var(--main-font);
}
    
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
    
.login-btn {
    background: transparent;
    border: none;
    font-weight: 600;
    color: var(--Neutral-grey500);
    font-family: var(--main-font);
    cursor: pointer;
}
    
.sign-up-btn {
    background-color: var(--Primary-blue);
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--main-font);
}
    
.mobile-nav {
    display: block;
}

.mobile-header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 16px 0;
}
    
.mobile-logo img {
    max-width: 95px; 
    height: auto;
    align-self: flex-start;
    margin: 0;
}
    
.menu-toggle {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}
    
 .menu-toggle img {
    width: 28px;
    height: 28px;
}
    
      
.mobile-menu-panel {
    display: none;
    background-color: var(--primary-purple);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 90%;
    padding: 30px 20px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
    
.mobile-menu-panel.active {
    display: block;
}
    
.mobile-links {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    text-align: center;
}
    
 .mobile-links li {
    margin-bottom: 1.8rem;
}
    
.mobile-links a {
     text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--main-font);
 }
    
.mobile-auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
    
.mobile-auth-buttons .login-btn {
    color: var(--neutral-white);
    font-size: 1.1rem;
}
    
.mobile-auth-buttons .sign-up-btn {
    padding: 14px 0;
    font-size: 1.1rem;
}

.hero-title {
    font-size: 2.6rem;
}
    
.hero-content-container {
    text-align: center;
}

.container-fluid {
    display: none;      
}

.hero-logo {
    display: none;
}

.mobile-panel {
    background-color: var(--primary-purple);
    margin: 0 auto;
    max-width: 90%;
    border-radius: 8px;
    min-height: fit-content;
    padding: 20px 0;
}

.mobile-btn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.login-btn {
    background-color: transparent;
    border: none;
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--neutral-white);
    font-size: 1.1rem;
    border-top: 1px solid var(--Neutral-grey400);
    padding-top: 2.4rem;
}

.sign-up-btn {
    min-width: 80%;
    margin: 1rem auto;
    display: block;
}

.shorten-card {
    padding: 2rem 1.5rem;
}

.shorten-btn {
    min-width: 100%;
    margin: 1rem 0;
}

.shorten-card {
    padding: 2rem 1.5rem;
}

.url-container {
    flex-direction: column;
}

.result-card {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom:  -700px;
}

.original-url {
    border-bottom: 1px solid var(--Neutral-grey400);
    padding-bottom: 16px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.short-url {
    margin-top: 18px;
 }

.copy-btn {
    width: 100%;
    margin: 12px 0;
}

.stat-section {
    margin: 90px 20px 0 20px;
}

.stat-sub-title {
    max-width: 270px;
    text-align: center;
    margin: 1.4rem auto;
}

.stat-sub-title br {
    display: none;
}

.stat-icon {
    left: 50%;
    transform: translateX(-50%);
}

.stats-card-container {
    grid-template-columns: 1fr;
    z-index: 100;
}

.stats-card-container::before {
    content: '';
    height: 100%;
    width: 10px;
    background-color: var(--Primary-blue);
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: rotate(180deg);
}

.card1 {
    margin: 2rem 0;
}

.card3 {
    margin: 2rem 0;
}

.card1-imag {
    left: 40%;
}

.boost-section {
    background: url('images/bg-boost-mobile.svg') no-repeat center/cover;
    margin-top: 4rem;
    background-color: var(--primary-purple);
}

.boost-title {
    font-size: 1.8rem;
}

.footer-logo {
    margin: 0 auto;
}

.footer-link-title{
    text-align: center;
}

.footer-links li, a {
    text-align: center;
    margin: 0 auto;
}

}